<ion-header>
  <ion-navbar>
    <ion-title>
      Viva Anuncios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor= "let casa of casas" col-3>
        <ion-card >
          <img *ngIf= "casa.hasOwnProperty('pictures')"
          src= "{{casa.pictures[0].url}}">
          <ion-item>
              <h2 *ngIf= "casa.hasOwnProperty('price')">   
                  {{casa.price.formattedAmount}}
              </h2>
              <p *ngIf= "casa.hasOwnProperty('geo')">   
                  {{casa.geo.displayName}}
              </p>
              <p *ngIf= "casa.hasOwnProperty('geo')">   
                  {{casa.geo.name}}
              </p>
            </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
